body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER SECTION */
header {
    background-color: rgb(0, 50, 0);
    color: white;;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: lightblue;
}
/* HERO SECTION */
.hero {
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 100px 2px;
}
.hero-content h1 {
    font-size: 3rem;
}
.hero-content p {
    font-size: 1.5rem;
    margin: 20px;
}
.cta-button {
    background-color: rgb(47, 61, 22);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* ABOUT SECTION */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
}
.about h2 {
    font-size: 3rem;
}
.about p {
    font-size: 2rem;
    color: #1b1678;
}

/* SKILLS SECTION */
.skills {
    padding: 50px 20px;
    text-align: center;
}
.skills h2 {
    font-size: 2.5rem;
}
.skill-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;   
}
.skill-item {
    font-size: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 25%;
}