body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER SECTION */
header {
    background-color: #249555;
    color: white;;
    padding: 10px 20px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: lightblue;
}
/* HERO SECTION */
.hero {
    background-color: lightgreen;
    color: white;
    text-align: center;
    padding: 100px 2px;
}
.hero-content h1 {
    font-size: 3rem;
}
.hero-content p {
    font-size: 1.5rem;
    margin: 20px;
}
.cta-button {
    background-color: rgb(47, 61, 22);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* ABOUT SECTION */
.about {
    padding: 50px 20px;
    text-align: center;
    background-color: #f1f1f1;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
    color: #1b1678;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SKILLS SECTION */
.skills {
    padding: 50px 20px;
    text-align: center;
}
.skills h2 {
    font-size: 2.5rem;
}
.skill-list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;   
}
.skill-item {
    font-size: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 25%;
}
.my-projects {
    background: #f9f9f9;
}
.my-projects h2 {
    font-size: 2.5rem;
    padding: 50px;
}
.projects {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}
.project {
    font-size: 15px;
    padding: 20px;
    background-color: #edf1ef;
    border-radius: 10px;
    width: 26%;
}
.project img {
    width: 100%
}

.project p {
    font-size: 14px;
}

/* CONTACT SECTION */
.contact {
    background-color: #62ba71;
    color: black;
    padding: 50px 20px;
    text-align: center;
}
.contact-container {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}
.contact-info {
    width: 45%;
}
.contact-item {
    background-color: #91eeb5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.contact-item a {
    color: rgb(15, 51, 52);
    text-decoration: none;
    font-weight: bold;
}
.contact-item a:hover {
    text-decoration: underline;
    color: cadetblue
}
.contact-form {
    width: 45%;
    background-color: #0a9361;
    padding: 20px;
    border-radius: 10px;
}
.contact-form input, .contact-form textarea { 
    width: 90%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: px;
    background-color: #f1f1f1;
    font-size: 1rem;
}
.contact-form button[type="submit"] {
    background-color: rgb(15, 67, 12);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button[type="submit"]:hover {
    background-color: #444;
}

/* Footer */
footer {
    background-color: #249555;
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1rem;
    color: white;
}